<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies/>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="tendonvi" value="TRUNG TÂM KIỂM SOÁT BỆNH TẬT TỈNH BẾN TRE 444"/>
    <add key="conStr" value="Server =192.168.1.10; Database = ctybaokhoattytbentre ; Port=3306;User ID=root ;Password=100100;charset=utf8"/>
  </appSettings>
</configuration>