<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ThoiGian1" value="09:34:15" />
    <add key="ThoiGian2" value="" />
    <add key="ThoiGian3" value="" />
    <add key="ThoiGian4" value="" />
  </appSettings>
</configuration>