<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<appSettings>
		<add key="tendonvi" value="TRUNG TÂM KIỂM SOÁT BỆNH TẬT TỈNH BẾN TRE"/>
		<add key="conStr" value="Server =192.168.1.10; Database = ctybaokhoattytbentre ; Port=3306;User ID=root ;Password=100100;charset=utf8"/>
	</appSettings>
</configuration>
